<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I'm an advanced Python programmer with a focus on managing and processing geospatial data. I have extensive database experience in the Postgres/PostGIS environment and am very comfortable writing SQL/PL programs to manage and transform large datasets. I also have significant experience using Jenkins to manage CI/CD pipelines, writing Bash & ZSH scripts to perform low-level tasks, automating infrastructure management with Ansible, and containerizing independent services with Docker. I like to work primarily in a GNU/Linux-based OS, preferably Ubuntu / Debian. I am proficient in but not as experienced in web development, primarily using Python's Flask and Node.js. 
</div>